<!DOCTYPE html>
<html ng-app>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
	<script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<nav class="navbar navbar-light bg-faded">
 		<div class="container">
    		<a class="navbar-brand" href="#">My Personal ToDo App</a>
  		</div>
	</nav>
	<br/>
  	<div class="container" ng-controller="TodoCtrl">
  		<div class="row">
			<div class="col-sm-6">
    			<h2>You have <span class="normal">{{getTotalTodos()}}</span> things to do:</h2>
		    	<ul class="list-group" id="searchTodoResults">
		    		<li class="list-group-item diabled">
		    			<input class="form-control" ng-model="query" type="text" placeholder="Filter by..." autofocus>
		    		</li>
	        		<li class="list-group-item" ng-repeat="todo in todos | filter:query | orderBy: ['title', 'deadline'] ">
	        			<button type="button" class="close" ng-click="deleteTodo(todos.indexOf(todo))"><span aria-hidden="true">&times;</span></button>
	          			<input type="checkbox" ng-model="todo.done"/>
	          			<div class="task done-{{todo.done}}">
	          				<h5 class="list-group-item-heading">{{todo.title}} <span class="normal">due by {{todo.deadline}}</span> </h5>
	          				<p class="list-group-item-text">{{todo.text}}</p>
	          			</div>
	        		</li>
		    	</ul>
    		</div>

    		<div class="col-sm-6">
    			<h2>Add a New Item:</h2>
		    	<form>
			        <div class="form-group row">
			        	<input type="text" class="form-control" placeholder="Title..." ng-model="formTodoTitle" ng-model-instant required/>
			        </div>
			        <div class="form-group row">
			        	<textarea class="form-control" ng-model="formTodoText" placeholder="Description..." ng-model-instant rows="3" required></textarea>
			        </div>
			        <div class="form-group row">
			         	<input input="date" class="form-control" placeholder="Deadline (yyyy-MM-dd)..." ng-model="formTodoDeadline" min="2016-01-01" max="2018-12-31" ng-model-instant required/>
			        </div>
			        <div class="form-group row">
			        	<button class="btn btn-primary" ng-click="addTodo()">Add</button>
			        </div>
	      		</form>
	  		</div>
	    </div>
	</div>
</body>
</html>