body {
	background-color: #F5F5F5;
}

li input[type="checkbox"] {
  width: 50px;
  padding-bottom: 100px;
  float: left;
}

.task {
	padding-left: 50px;
}

.done-true {
  text-decoration: line-through;
  color: #ddd;
}

.normal {
	font-weight: normal;
	color: #396a93;
}

.row {
	margin-left: 0em;
	margin-right: 0em;
}